<!doctype html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block 'title' %}Mithilesh Maurya{% endblock %} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>

</head>

<body >


    <div id="vanta-bg"></div>
    <div class="custom-cursor"></div>



    <nav class="navbar navbar-expand-lg  sticky-md-top ">
        <div class="container-fluid ">
            <a class="navbar-brand" style="padding-right:240px;" href="{% url 'home' %}"><img
                    src="{% static 'images/mithilesh.png' %}" alt="" height="40" width="150" class="logo-bg"></a>
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse rgt " id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item ">
                        <a class="nav-link text-light " href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-light " href="#about">About Us</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-light " href="#project">Projects</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-light " href="#experience">Experience</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-light " href="#certificate">Certificate</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-light " href="#contact">contact</a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'resume' %}">Download Resume</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <section id="about">
    <div class="container ">
        {% block 'main_section' %}{% endblock %} <br><br> <!--landing page-->


        <!--About section  start-->
        <br>
        <div class="row my-5">
            <div class="row text-center mt-3">
                <h1 class="mb-5 text-warning"><span class=" text-warning moving-line">About Us<hr class="border border-4"></span></h1>
            </div>
            </br>
            
            <div class="col-md-12 col-lg-12 mt-4 mt-3 text-white">
                <h2 class="text-center" style="color: dark"> <span class=" text-light moving-line">Education</span>
                </h2>
                </br>
                <div class="d-flex flex-column align-items-center box-round  gap-3">

                    <p class="mb-6 lead text-light moving-line d-flex justify-content-center p-5">
                        <b class="fw-bold">Undergraduation : </b> At present I'm persuing B.Tech specialization in Computer Science And
                        Engineering<br> from RR Institute of Modern Technology (AKTU),Lucknow. 
                    </p>
                    <p class="mb-6 lead text-light moving-line">
                        <b class="fw-bold">Intermediate : </b> Jawahar Navodaya Vidyalaya (Gorakhpur)<br>
                        PCM with <b> 87.2% </b>
                    </p>
                    <p class="mb-6 lead text-light moving-line">
                        <b class="fw-bold">HighSchool : </b> Jawahar Navodaya Vidyalaya (Gorakhpur)<br><b>95%</b>
                    </p>

                </div>

            </div>
        </div>


        <div class="row d-flex align-items-center my-5 box-round1 box text-white p-5">



            <div class="col-xl-5 offset-xl-1 col-lg-5 offset-lg-1 col-md-6  mt-3 text-center">
                <div class="circular-image-container mt-5">
                    <img src="{% static 'images/myself.jpg' %}" alt="Profile"
                        class="img-fluid circular-image d-block mx-auto">
                </div>
            </div>

            <div class="col-xl-5 col-md-6  col-lg-6 col-12 mt-5 ">

                <div class="inline-container ">

                    <div class="mb-5 mb-md-0 ">
                        

                        {% comment %} title {% endcomment %}


                        <p class="mb-6 lead text-light moving-line d-flex justify-content-center">
                            {% comment %} Enthusiastic, self-motivated, reliable, and hardworking software developer
                            with
                            expertise in Django . Works well under pressure while demonstrating strong
                            leadership and technical problem-solving skills. Seeking to plan, manage, and execute
                            complex
                            projects in a team environment. {% endcomment %}
                            I am passionate about Data Structures and Algorithms (DSA) in C++, web development with Django.
                            My journey so far has been enriched by hands-on experience, including a summer internship 
                            and many real world feature rich web applications(Drivemart,tempteller,portfolio website)
                            where I contributed as a client-side web developer to create scalable and interactive web applications. 
                            I’m now eager to explore into the fields of Artificial Intelligence (AI) and data analysis, 
                            aiming to apply my skills in innovative ways.
                        </p>
                        </br>
                        <p class="mb-6 lead text-light moving-line d-flex justify-content-center">
                            {% comment %} Enthusiastic, self-motivated, reliable, and hardworking software developer
                            with
                            expertise in Django . Works well under pressure while demonstrating strong
                            leadership and technical problem-solving skills. Seeking to plan, manage, and execute
                            complex
                            projects in a team environment. {% endcomment %}
                           <b class="fw-bold"> My Key Skills & Interests</b>
                            C++ Programming: Specializing in algorithm optimization and advanced problem-solving.
                            Django Development: Building robust, scalable, and user-friendly web applications.
                        </p>
                    </div>

                </div>

            </div>
        </div>


        <br><br>
        <div class="row my-5   text-white p-5">
            <div class="col-md-4 col-lg-4 skill-effect mt-4">
                <h2 class="text-center" style="color: pink"><span class=" text-warning moving-line">Technical
                        Skills</span></h2>
                </br>
                <div class="d-flex flex-column align-items-center  gap-3">

                    <img src="{% static 'images/html5.png' %}" alt="" height="70" width="70" class="img-fluid" />

                    <img src="{% static 'images/css.jpg' %}" alt="" height="70" width="70" class="img-fluid" />
                    <img src="{% static 'images/cpp.png' %}" alt="" height="70" width="70" class="img-fluid" />

                    <img src="{% static 'images/js.webp' %}" alt="" height="70" width="70" class="img-fluid" />

                    <img src="{% static 'images/pythonimg.png' %}" alt="" height="70" width="70" class="img-fluid" />
                    <img src="{% static 'images/django.png' %}" alt="" height="70" width="70" class="img-fluid" />
                    <img src="{% static 'images/sql.webp' %}" alt="" height="70" width="70" class="img-fluid" />
                </div>

            </div>


            <div class="col-md-4 col-lg-4 mt-4 ">
                <h2 class="text-center" style="color: pink"><span class=" text-warning moving-line">Tools</span>
                </h2>
                </br>
                <div class="d-flex flex-column align-items-center tools-effect gap-3">
                    </br>
                    </br>

                    <p class="mb-6 lead text-light moving-line">
                       Replit
                    </p>

                    <p class="mb-6 lead text-light moving-line">
                        Github
                    </p>

                    <p class="mb-6 lead text-light moving-line">
                        VS Code
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 mt-4 ">
                <h2 class="text-center" style="color: pink"><span class=" text-warning moving-line">Soft Skills</span>
                </h2>
                </br>
                <div class="d-flex flex-column align-items-center tools-effect gap-3">
                    </br>
                    </br>

                    <p class="mb-6 lead text-light moving-line">
                       Problem-Solving
                    </p>

                    <p class="mb-6 lead text-light moving-line">
                        Leadership
                    </p>

                    <p class="mb-6 lead text-light moving-line">
                        Time Management
                    </p>
                    <p class="mb-6 lead text-light moving-line">
                        Collaborative
                    </p>
                </div>
            </div>

        </div>


    </div>
    </section>
   


    <!--aabout section end-->
    <span class=" text-warning moving-line ">
        <hr class="border">
    </span>

    {% comment %} {% block 'projects' %}{% endblock %} {% endcomment %}

    <!--project section start here-->
    <br>
    <section id="project">
    <div class=" text-center mt-3 ">
        <h2 class="mb-5 text-warning"><span class=" text-warning moving-line">Projects</span></h2>
    </div>

    <br>
    <div class="container ">
        <div class="row justify-content-center">
            {% for project in project_list %}<br><br>
            <div class="col-md-5 col-lg-5 m-2 text-center">
                <h4 class="text-warning">{{ project.title }}</h4>
                
                    {% comment %} <img src="{% static project.path %}" alt="{{ project.title }}" class="img-fluid"  style="transition: transform 0.2s ease-in-out;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'" /> {% endcomment %}
                
                    <div style="position: relative; display: inline-block;">
                        <!-- Image with hover effect -->
                        <img src="{% static project.path %}" alt="{{ project.title }}" class="img-fluid rounded-3"
                             style="display: block; transition: transform 0.3s ease-in-out; width: 100%; color:grey;"
                             onmouseover="this.parentElement.querySelector('a').style.opacity='1';
                             this.style.transform='scale(1.1)';
                              this.style.boxShadow='0px 0px 30px rgba(209, 205, 205, 0.5)';"
                             onmouseout="this.parentElement.querySelector('a').style.opacity='0';this.style.transform='scale(1)';this.style.boxShadow='none';"
                            >
                        
                        <!-- Link appearing on hover -->
                        <a href="{{ project.link }}" target="_blank"
                           style="position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%);
                                  background: red; color:blue ; padding: 8px 15px; border-radius: 5px;
                                  box-shadow 0.3s ease-in-out;
                                  text-decoration: none; font-size: 16px; font-weight: bold; opacity: 0;
                                  transition: opacity 0.3s ease-in-out;"
                                  onmouseover="this.style.opacity='1';"
                                  onmouseout="this.style.opacity='1';">
                           Github-link
                        </a>
                    </div><br>
                    <p class="text-light fw-bold">{{project.discription}}</p> <br><br>
            </div>
            {% endfor %}
        </div>
    </div>
    </section>
    <!--project section end here-->

    


   


    <!--experience section start here-->

    <br><br><br>
    <section id="experience">
    <div class=" text-center mt-3 ">
        <h2 class="mb-5 text-warning">Experience</h2>
    </div>
   
    <div class="container mt-5 ">
        <div class="row justify-content-center transparent-box">
          <div class="col-md-10 p-4 rounded shadow-lg text-light" >
            <h3 class="text-center mb-4 text-warning">Summer Internship – Web Development</h3>
            <h5 class="text-center text-info">Softpro India, Lucknow</h5>
            <hr style="border-color: rgba(255, 255, 255, 0.2);">
            <p><strong>Project:</strong> Developed an <em>Online Admission System</em> for Biotech Park, Lucknow, to digitalize and streamline the admission process.</p>
            
            <p><strong>Frontend:</strong> Built responsive UI using <span class="text-primary">HTML</span>, <span class="text-primary">CSS</span>, <span class="text-primary">Bootstrap</span>, and <span class="text-primary">JavaScript</span>.</p>
            
            <p><strong>Backend:</strong> Implemented core logic using <span class="text-success">Python</span>, <span class="text-success">Django</span>, and <span class="text-success">SQLite</span>.</p>
            
            <p><strong>Key Modules:</strong> Student registration, login/authentication, enquiry management, and admin dashboard.</p>
            
            <p><strong>Development Practices:</strong> Followed SDLC methodologies and worked on real-world application deployment.</p>
            
            <p><strong>Core Focus:</strong> Emphasized secure data handling, efficient UI/UX, and modular backend structure.</p>
            
            <p><strong>Outcome:</strong> Gained hands-on full-stack development experience and enhanced problem-solving skills.</p>
          </div>
        </div>
      </div>
      
    </section>
    <!--experiwncw section end here-->





    {% comment %} {% block 'certificate' %}
    {% endblock %} {% endcomment %}
    <section id="certificate">
    <div class=" text-center mt-5 ">
        <h2 class="my-5 text-warning"><span class=" text-warning moving-line">Certificates</span></h2>
    </div>

    <div class="container ">
        <div class="row justify-content-center ">
            {% for certificate in certificates %}

            <div class="col-md-5 col-lg-5 m-2"><br><br>
                <h4 class="text-md-center text-start text-warning">{{ certificate.title }}</h4>
                <br>
                <div style="position: relative; display: inline-block;">
                    <!-- Image with hover effect -->
                    <img src="{% static certificate.path %}" alt="{{ certificate.title }}" class="img-fluid rounded-4"
                         style="display: block; transition: transform 0.3s ease-in-out; width: 100%; "
                         onmouseover="this.style.transform='scale(1.1)'; this.style.boxShadow='0px 0px 30px rgba(209, 205, 205, 0.7)';"
                         onmouseout="this.style.transform='scale(1)'; this.style.boxShadow='none';">
                    
                    <!-- Link appearing on hover -->
                    
                </div>
            </div>


            {% endfor %}
        </div>
    </div>
    </section>

    


    {% comment %} {% block 'contact' %} {% endblock %} {% endcomment %}
    <!--contact section start-->
    <section id="contact">
    <div class=" text-center mt-5">
        <h2 class="mb-5 text-warning"><span class=" text-warning moving-line">Contact Us</span></h2>
    </div>
    <div class=" my-5 ">
        <div class="col-md-5 col-lg-5  my-5 text-light mx-auto  ">
            <table class="table" style="background-color: transparent;">
                <tbody >

                    <tr>
                        <td style="background-color: transparent; color: white; border:none;">Email</td>
                        <td style="background-color: transparent; color: white;border:none;">mauryamithilesh1@gmail.com</td>
                    </tr>
                    <tr>
                        <td style="background-color: transparent; color: white;border:none;">Phone : </td>
                        <td style="background-color: transparent; color: white;border:none;">+91 7753038609</td>
                    </tr>
                    <tr>
                        <td style="background-color: transparent; color: white;border:none;">Address :</td>
                        <td style="background-color: transparent; color: white;border:none;">lucknow ,UP</td>
                    </tr>
                    <tr>
                        <td style="background-color: transparent; color: white;border:none;">Social Media : </td>
                        <td style="background-color: transparent; color: white;border:none;"></td>
                    </tr>
                </tbody>
            </table>



        </div>




        {% comment %} for form {% endcomment %}
        {% comment %} <div class="col-5 mx-auto mt-2  mb-5">
            <div class="container form-container bg-dark text-light border-0 shadow-none p-4">
               <form method="post" action="" class="border-0">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form> 
                
            </div>

        </div> {% endcomment %}
    </div>
    </section>




    <!--contact section end-->
    {% comment %} <hr style="border: 2px solid #333; background-color:rgba(21, 17, 17);"> {% endcomment %}



    
     <div class="fixed-bottom col-2">
        {% comment %} <div class="col-6 d-flex justify-content-center align-items-center"> {% endcomment %}
            <div class="col-1 d-flex flex-column gap-3 mb-5">
                <a href="https://www.linkedin.com/in/mithileshmaurya20" target="_blank" class="mx-3">
                    <img src="{% static 'images/linkedin.png' %}" width="50" height="50" class="social" />
                </a>

                <a href="https://www.geeksforgeeks.org/user/mauryamithilesh/" target="_blank" class="mx-3">
                    <img src="{% static 'images/gfg.jpg' %}" width="50" height="50" class="social" />
                </a>

                <a href="https://github.com/mauryamithilesh2" target="_blank" class="mx-3">
                    <img src="{% static 'images/github.png' %}" width="50" height="50" class="social" />
                </a>
            </div>
     </div>
        <footer class="footer  py-2 ">
            <div class="copyright mx-auto float-none text-center text-light mb-0">

                <span class="bg-dark"> &copy; Made. By Mithilesh</span>

            </div>
        </footer>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>




{% comment %} moving content {% endcomment %}
           
                
            
          
            

              <script>
                const texts = [
                    "I'm Mithilesh Maurya",
                    "Web Developer",
                    "Software Developer"
                ];
            
                const typingElement = document.getElementById("typing-text");
                let textIndex = 0;
                let charIndex = 0;
            
                function type() {
                    if (charIndex < texts[textIndex].length) {
                        typingElement.textContent += texts[textIndex].charAt(charIndex);
                        charIndex++;
                        setTimeout(type, 100); // Typing speed
                    } else {
                        setTimeout(() => {
                            typingElement.textContent = '';
                            charIndex = 0;
                            textIndex = (textIndex + 1) % texts.length; // Loop back to first text
                            type();
                        }, 1000); // Pause before next text
                    }
                }
            
                type(); // Start typing



                const cursor = document.querySelector(".custom-cursor");

                document.addEventListener("mousemove", (e) => {
                  cursor.style.left = `${e.clientX}px`;
                  cursor.style.top = `${e.clientY}px`;
                });
              
                // Click Ripple Effect
                document.addEventListener("click", (e) => {
                  const ripple = document.createElement("div");
                  ripple.classList.add("click-ripple");
                  ripple.style.left = `${e.clientX}px`;
                  ripple.style.top = `${e.clientY}px`;
                  document.body.appendChild(ripple);
              
                  setTimeout(() => {
                    ripple.remove();
                  }, 700);
                });
              
                // Theme Switcher
                function setTheme(theme) {
                  document.body.className = "theme-" + theme;
                }
              
                // Default theme
                setTheme("neon");





                VANTA.NET({
                    el: "#vanta-bg",
                    mouseControls: true,
                    touchControls: true,
                    minHeight: 200.00,
                    minWidth: 200.00,
                    scale: 1.05,
                    scaleMobile: 1.00,
                    color: 0x00ffff,
                    backgroundColor: 0x0f0f0f,
                    points: 15.0,
                    maxDistance: 20.0,
                    spacing: 15.0
                  });



            </script>
            


</body>

</html>