{% extends "base.html" %}
{% load static %}
{% block 'main_section' %}

<hr style="border: 2px solid #333; background-color:rgba(21, 17, 17);">

<div class="container">
        {% comment %} <div class="row my-5"> {% endcomment %}
         <div class="row d-flex align-items-center mt-5">
       
           <div class="col-xl-5 col-md-6  col-lg-6 col-12 mt-5">
         
             <div class="inline-container">
           
               <div class="mb-5 mb-md-0 ">
                 <span class=" text-warning moving-line">Hello, Welcome</span>
       
                     {% comment %} title {% endcomment %}
       
                 <h2 class="mt-4 mb-4 display-3 fw-semibold text-light moving-line text-shadow text-danger ">I'm Mithilesh Maurya</h2>
                 <p class="mb-6 lead text-light moving-line">
                    {% comment %} Enthusiastic, self-motivated, reliable, and hardworking software developer with expertise in Django . Works well under pressure while demonstrating strong
                      leadership and technical problem-solving skills. Seeking to plan, manage, and execute complex projects in a team environment. {% endcomment %}
                  B.Tech CSE Student | Aspiring Full-Stack Developer | </br>Coding Enthusiast | DSA with C++ Learner |
                   </p>
       
               </div>
       
             </div>
       
           </div>
           <div class="col-xl-5 offset-xl-1 col-lg-5 offset-lg-1 col-md-6 col-12 mt-5 text-center">
            <div class="circular-image-container mt-5">
                <img src="{% static 'images/myself.jpg' %}" alt="Profile"
                    class="img-fluid circular-image d-block mx-auto">
            </div>
        </div>
       
         </div>
       </div>
        {% endblock  %}